<!DOCTYPE html>
	<html>
		<head>
				<title>{{ page.title }}</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<!-- link to main stylesheet -->
				<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
				<link rel="stylesheet" type="text/css" href="/css/jumbotron-narrow.css">
				<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/research">Research</a></li>
					<li><a href="/publications">Publications</a></li>
					<li><a href="/software">Software</a></li>
					<li><a href="/news">News</a></li>
					<li><a href="/people">People</a></li>
					<li><a href="/vacancies">Vacancies</a></li>
				</ul>
			</nav>
			<div class="container">

				{{ content }}

			</div><!-- /.container -->
			<footer>
				<ul>
					<li><a href="mailto:jason.kwan@wisc.edu">email</a></li>
					<li><a href="https://twitter.com/kwan_lab">@kwan_lab on Twitter</li>
				</ul>
			</footer>

			<!-- javascript at the end of the doc so page loads faster -->
			<script src="https://code.jquery.com/jquery.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/library.js"></script>
			<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
		</body>
	</html>